.form-label{
    font-weight: bold;
}

.todayWeather{
    border: 2px solid rgb(172, 171, 171);
    border-radius: 5px;
}
.todayTemp, .todayWind, .todayHumidity {
    display: inline-flex;
}
.forecast5dayscss{
    margin-bottom: 5px;
}
.forecast5dayscss div{
    background-color: black;
    color: #fff;
    
}
.todayWindVal {
    float: left;
    display: flex;
    
}
